/* footer scss */

@use "../abstracts";

.footer {
  background-color: var(--footer-bg);
  margin-top: 30px;
  padding: 30px;

  &__item {
    margin-bottom: 8px;
    color: var(--footer-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }

  &__item:first-child {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 18px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__input-wrap {
    display: flex;
    gap: 8px;
  }

  &__input {
    padding: 0 12px;
    background-color: #fff;
    border-radius: 6px;
    height: 46px;
    width: 100%;
    font-size: 1.6rem;

    &::placeholder {
      font-weight: 400;
      color: #9e9da8;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__social {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;

    img {
      width: 20px;
      height: 20px;
    }
  }

  &__license {
    margin-top: 28px;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    color: #9e9da8;
    text-align: center;
  }
}
