@use "../abstracts";

.dropdown {
  position: absolute;
  left: 0;
  top: 50px;
  padding-top: 44px;
  display: none;
  width: min(1240px, 100%);

  @include abstracts.breakpoint(lg) {
    position: initial;
    padding-top: 0;
  }

  &__inner {
    position: relative;
    padding: 30px;
    background-color: var(--dropdown-bg);
    border-radius: 20px;
    box-shadow: var(--dropdown-box-shadow);

    // max-height: min(582px, 100vh - 154px);

    @include abstracts.breakpoint(lg) {
      padding: 0;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
    }

    &::before {
      position: absolute;
      top: -12px;
      left: var(--arrow-left-pos);
      transform: translateX(-50%);
      content: url("../icons/dropdown-arrow.svg");
      filter: var(--dropdown-arrow-color);

      @include abstracts.breakpoint(lg) {
        display: none;
      }
    }
  }
}

.top-menu {
  position: relative;
  width: 100%;
  // max-height: min(582px, 100vh - 214px);
  &.top-menu--4column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: min(582px, 100vh - 214px);
    overflow-y: auto;

    @include abstracts.breakpoint(lg) {
      grid-template-columns: 1fr;
      height: auto;
    }
  }

  &__column {
    @include abstracts.breakpoint(lg) {
      margin-bottom: 30px;
    }
  }

  &__column:last-child {
    @include abstracts.breakpoint(lg) {
      margin-bottom: 0;
    }
  }
}

.main-menu {
  width: 292px;
  height: min(582px, 100vh - 214px);
  overflow-y: auto;
  border-right: 1px solid var(--border-main-menu-color);

  @include abstracts.breakpoint(lg) {
    width: 100%;
    height: auto;
    border-right: none;
  }
}

.menu-column {
  display: flex;
  overflow-y: auto;

  & + .menu-column {
    margin-top: 30px;
  }

  &__icon {
    position: relative;
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    margin-right: 14px;

    img:first-child {
      position: absolute;
      top: 0;
      left: 0;
    }

    img:last-child {
      position: absolute;
      bottom: 0;
      right: 0;
      filter: var(--menu-column-icon-color);
    }
  }

  &__content {
    width: 100%;
  }

  &__title {
    margin-top: 6px;
    margin-bottom: 19px;
    color: var(--menu-column-text-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5em; /* 150% */
  }

  &__list {
    margin-top: 19px;

    @include abstracts.breakpoint(lg) {
      margin-top: 0;
    }
  }

  &__item {
    &--active > .menu-column__link,
    &:hover > .menu-column__link {
      color: #0071dc;
      font-weight: 500;
    }

    &--active.menu-column__item .sub-menu {
      display: grid;
    }
  }

  &__link {
    display: block;
    color: var(--menu-column-text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42em; /* 142.857% */
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .sub-menu {
    height: min(582px, 100vh - 214px);
    overflow-y: auto;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    inset: 0 0 0 292px;
    padding-left: 30px;

    @include abstracts.breakpoint(lg) {
      position: initial;
      grid-template-columns: 1fr;
      height: auto;
      padding-left: 0;
      padding-top: 15px;
    }
  }
}
