/* Login form */

@use "../abstracts";

.login-form {
  margin-top: 60px;

  &:has(:invalid) .login__cta-btn.btn-primary {
    opacity: 0.5;
    pointer-events: none;
  }

  @include abstracts.screen(sm) {
    margin-top: 30px;
  }

  &__label {
    color: var(--text-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.44em; /* 144.444% */
  }

  &__group {
    margin-top: 30px;

    @include abstracts.screen(sm) {
      margin-top: 20px;
    }

    &--small {
      margin-top: 20px;
    }
  }

  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) &__wrap {
    background-color: rgba($color: #ff0000, $alpha: 0.1);
    border-color: rgba($color: #ff0000, $alpha: 0.2);
  }

  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) &__error,
  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) &__icon-error {
    display: block;
  }

  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) &__icon {
    display: none;
  }

  &__error {
    display: none;
    font-size: 1.4rem;
    line-height: 1.42em;
    text-align: left;
    margin-top: 8px;
    color: red;
  }

  &__wrap {
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--login-form-input-border-color);

    display: flex;
    align-items: center;

    padding: 0 12px;
  }

  &__input {
    width: 100%;

    color: var(--login-text-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.44em; /* 144.444% */
    padding-right: 12px;

    &::placeholder {
      color: var(--login-form-input-placeholder-color);
    }

    @include abstracts.screen(sm) {
      font-size: 1.6rem;
      line-height: 1.5em;
    }
  }

  &__icon-error {
    display: none;
    width: 24px;
    height: 24px;
  }

  &__row {
    display: flex;
  }

  &__confirm {
    align-items: center;

    .login__link {
      color: #0071dc;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.46em; /* 146.667% */

      @include abstracts.screen(sm) {
        font-size: 1.4rem;
        line-height: 1.42em;
      }
    }
  }

  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;

    margin-right: auto;
    user-select: none;

    color: var(--login-desc-color);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.46em; /* 146.667% */

    @include abstracts.screen(sm) {
      font-size: 1.4rem;
      line-height: 1.42em;
      font-weight: 400;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1.5px solid var(--login-form-checkbox-border-color);
      border-radius: 5px;
      flex-shrink: 0;
    }

    &::after {
      position: absolute;
      left: 4px;
      top: 7px;
      content: "";
      display: none;
      width: 12px;
      height: 6px;
      border-bottom: 2px solid var(--login-form-checkbox-border-color);
      border-left: 2px solid var(--login-form-checkbox-border-color);

      rotate: -45deg;
    }
  }
}

.checkbox:checked ~ .login-form__checkbox::after {
  display: inline-block;
}
