/* Login */

.login {
  min-height: 100vh;

  &__inner {
    display: flex;
  }

  &__intro {
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--login-intro-bg);

    &-text {
      margin-top: 50px;
      width: 412px;

      color: var(--login-text-color);
      text-align: center;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.44em; /* 144.444% */
    }
  }

  &__info {
    flex: 1;
    padding-top: 50px;
    padding-bottom: 52px;
  }

  &__content {
    width: 460px;
    margin: 0 auto;
    text-align: center;
  }

  &__logo {
    justify-content: center;
  }

  &__heading {
    margin-top: 50px;
    color: var(--login-text-color);
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.46em; /* 146.667% */
  }

  &__text {
    color: #9e9da8;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.46em; /* 146.667% */
  }

  &__link {
    color: #0071dc;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.44em; /* 144.444% */
  }

  &__desc {
    letter-spacing: 0.5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-weight: 500;
  }

  &__cta {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      color: var(--login-text-color);
      height: 50px;
    }
  }

  &__foot {
    margin-top: 108px;
    display: flex;
    justify-content: center;
    gap: 10px;

    .login__text {
      font-size: 1.8rem;
      line-height: 1.44em;
    }
  }
}
