@use "../abstracts";

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(99%) sepia(0%)
    saturate(7493%) hue-rotate(281deg) brightness(106%) contrast(106%);

  --header-bg-color: #171c28;
  --header-bg-mobile-color: #171c28;
  --header-bg-btn-color: #292e39;
  --header-shadow-btn: rgba(0, 0, 0, 0.2);
  --header-shadow-user: rgba(0, 0, 0, 0.08);
  --header-mobile-box-shadow: rgba(0, 0, 0, 0.2);

  --body-bg: #292e39;

  // dropdown
  --dropdown-bg: #313849;
  --dropdown-box-shadow: 0px 40px 90px 20px rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(22%) sepia(17%)
    saturate(711%) hue-rotate(184deg) brightness(90%) contrast(97%);
  --border-main-menu-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(90%) sepia(18%)
    saturate(229%) hue-rotate(178deg) brightness(111%) contrast(96%);
  --menu-column-text-color: #b9babe;

  @include abstracts.screen(lg) {
    --header-nav-bg-color: #292e39;
  }

  // categories item

  --cate-item-bg: #171c28;
  --cate-item-thumb-bg: #292e39;
  --cate-item-price-color: #fff;
  --cate-item-desc-color: #fff;

  // filter btn

  --filter-btn-bg: #171c28;
  --filter-btn-color: #fff;

  // product card

  --product-card-bg: #171c28;
  --product-card-shadow: rgba(0, 0, 0, 0.2);

  // like btn
  --like-btn-bg: #292e39;
  --like-btn-shadow: rgba(124, 124, 124, 0.2);

  // filter form

  --filter-form-bg: #292e39;
  --filter-form-shadow: rgba(0, 0, 0, 0.4);
  --filter-form-tag-bg: #171c28;
  --filter-form-arrow-up-bg: brightness(0) saturate(100%) invert(17%) sepia(35%)
    saturate(297%) hue-rotate(182deg) brightness(88%) contrast(95%);

  // btn
  --btn-outline-border-color: #b9babe;
  --btn-outline-color: #b9babe;
}
