html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(99%) sepia(0%)
    saturate(7493%) hue-rotate(281deg) brightness(106%) contrast(106%);

  --header-bg-color: #171c28;
  --header-bg-mobile-color: #171c28;
  --header-bg-btn-color: #292e39;
  --header-shadow-btn: rgba(0, 0, 0, 0.2);
  --header-shadow-user: rgba(0, 0, 0, 0.08);

  --body-bg: #292e39;
}
