@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(9%) sepia(8%)
    saturate(3709%) hue-rotate(207deg) brightness(97%) contrast(97%);

  --header-bg-color: #eee;
  --header-bg-mobile-color: #fff;
  --header-bg-btn-color: #fff;
  --header-shadow-btn: rgba(237, 237, 246, 0.2);
  --header-shadow-user: rgba(0, 0, 0, 0.08);
  --header-mobile-box-shadow: rgba(237, 237, 246, 0.2);

  --body-bg: #f6f6f6;

  // dropdown
  --dropdown-bg: #fff;
  --dropdown-box-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(19%) hue-rotate(16deg) brightness(106%) contrast(100%);
  --border-main-menu-color: #d2d1d6;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(9%) sepia(17%)
    saturate(2053%) hue-rotate(210deg) brightness(89%) contrast(96%);
  --menu-column-text-color: #1a162e;

  @include abstracts.screen(lg) {
    --header-nav-bg-color: #fff;
  }

  // categories item

  --cate-item-bg: #eee;
  --cate-item-thumb-bg: #fff;
  --cate-item-price-color: #000;
  --cate-item-desc-color: #1a162e;

  @include abstracts.screen(md) {
    --cate-item-bg: #fff;
  }

  // filter btn

  --filter-btn-bg: #fff;
  --filter-btn-color: #6c6c72;

  // product card

  --product-card-bg: #fff;
  --product-card-shadow: rgba(237, 237, 246, 0.2);

  // like btn
  --like-btn-bg: #fff;
  --like-btn-shadow: rgba(124, 124, 124, 0.2);

  // filter form

  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --filter-form-tag-bg: #f8f8fb;

  // btn
  --btn-outline-border-color: #d2d1d6;
  --btn-outline-color: #1a162e;

  // footer
  --footer-color: #1a162e;
  --footer-bg: #eee;

  // login

  --login-intro-bg: #fafafd;
  @include abstracts.screen(md) {
    --login-intro-bg: #fff;
  }
  --login-info-bg: #fff;
  --login-text-color: #1a162e;
  --login-desc-color: #9e9da8;
  --login-icon-color: brightness(0) saturate(100%) invert(7%) sepia(55%)
    saturate(1161%) hue-rotate(219deg) brightness(96%) contrast(95%);

  // login form
  --login-form-input-border-color: #d2d1d6;
  --login-form-input-placeholder-color: #d2d1d6;
  --login-form-checkbox-border-color: #9e9da8;
}
