<div class="container">
  <div class="row row-cols-4 row-cols-lg-2 row-cols-sm-1 g-3">
    <!-- col 1  -->
    <div class="col">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#!" class="footer__link">CONTACT</a>
        </li>
        <li class="footer__item">
          Address: 130 TX22 Street, Thanh Xuan Ward, District 12, HCM
        </li>
        <li class="footer__item">Hotline: 0968 575 690</li>
        <li class="footer__item">Email: dinhluckyboy@gmail.com</li>
      </ul>
    </div>
    <!-- col 2  -->
    <div class="col">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#!" class="footer__link">BRANDS</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Lavazza</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Welikecoffee</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Hightland</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Trung Nguyen Legend</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Milano</a>
        </li>
      </ul>
    </div>
    <!-- col 3  -->
    <div class="col">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#!" class="footer__link">RECENT POSTS</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">Breaking Down Barriers</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">A Celebration Of Success</a>
        </li>
        <li class="footer__item">
          <a href="#!" class="footer__link">A Wolrd Of Opportunities</a>
        </li>
      </ul>
    </div>
    <!-- col 4  -->
    <div class="col">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#!" class="footer__link">NEWSLETTER</a>
        </li>
        <li class="footer__item">
          <div class="footer__input-wrap">
            <input
              type="text"
              name=""
              id=""
              class="footer__input"
              placeholder="Enter your email"
            />
            <button class="btn btn-primary">Send</button>
          </div>
        </li>
        <li class="footer__item">
          <div class="footer__socials">
            <a href="#!">
              <div class="footer__social">
                <img src="./assets/icons/fb.svg" alt="" />
              </div>
            </a>
            <a href="#!">
              <div class="footer__social">
                <img src="./assets/icons/youtube.svg" alt="" />
              </div>
            </a>
            <a href="#!">
              <div class="footer__social">
                <img src="./assets/icons/twitter.svg" alt="" />
              </div>
            </a>
            <a href="#!">
              <div class="footer__social">
                <img src="./assets/icons/instagram.svg" alt="" />
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <p class="footer__license">© Copyright belongs to dinhce</p>
</div>
