<div class="container">
  <div class="top-bar">
    <!-- more  -->
    <div class="more">
      <img
        src="./assets/icons/more-icon.svg"
        alt="more-icon"
        class="icon more__icon"
      />
    </div>
    <!-- logo  -->
    <a href="./" class="logo">
      <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
      <h1 class="logo__title">grocerymart</h1>
    </a>

    <!-- navbar -->
    <div class="navbar">
      <ul class="navbar__list js-dropdown-list">
        <li class="navbar__item">
          <a href="#!" class="navbar__link"
            >Departments
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow-down"
            />
          </a>
          <!-- dropdown  -->
          <div class="dropdown">
            <div class="dropdown__inner">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Molestiae, ut. Modi nulla sunt laudantium praesentium quam rem a
              asperiores porro eligendi repudiandae, aliquam molestias!
              Repellendus ad reiciendis perferendis dolore nostrum libero quas,
              vel saepe nesciunt? Quos facilis sunt est? Rem similique enim
              dicta quidem! Neque, itaque sunt? Veniam nesciunt sapiente quidem
              qui repellat nobis corrupti exercitationem eaque ex inventore enim
              voluptate doloremque, accusantium aut maxime odit temporibus
              eligendi saepe in atque explicabo eius porro suscipit modi.
              Quibusdam hic, laboriosam vero veniam, iure, ut explicabo fugiat
              quam voluptates pariatur modi ex aspernatur! Magni pariatur
              exercitationem laborum? Beatae porro iste voluptates molestias!
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="#!" class="navbar__link"
            >Grocery
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow-down"
            />
          </a>
          <!-- dropdown  -->
          <div class="dropdown">
            <div class="dropdown__inner">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Molestiae, ut. Modi nulla sunt laudantium praesentium quam rem a
              asperiores porro eligendi repudiandae, aliquam molestias!
              Repellendus ad reiciendis perferendis dolore nostrum libero quas,
              vel saepe nesciunt? Quos facilis sunt est? Rem similique enim
              dicta quidem! Neque, itaque sunt? Veniam nesciunt sapiente quidem
              qui repellat nobis corrupti exercitationem eaque ex inventore enim
              voluptate doloremque, accusantium aut maxime odit temporibus
              eligendi saepe in atque explicabo eius porro suscipit modi.
              Quibusdam hic, laboriosam vero veniam, iure, ut explicabo fugiat
              quam voluptates pariatur modi ex aspernatur! Magni pariatur
              exercitationem laborum? Beatae porro iste voluptates molestias!
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="#!" class="navbar__link"
            >Beauty
            <img
              src="./assets/icons/arrow-down.svg"
              alt=""
              class="icon navbar__arrow-down"
            />
          </a>
          <!-- dropdown  -->
          <div class="dropdown">
            <div class="dropdown__inner">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Molestiae, ut. Modi nulla sunt laudantium praesentium quam rem a
              asperiores porro eligendi repudiandae, aliquam molestias!
              Repellendus ad reiciendis perferendis dolore nostrum libero quas,
              vel saepe nesciunt? Quos facilis sunt est? Rem similique enim
              dicta quidem! Neque, itaque sunt? Veniam nesciunt sapiente quidem
              qui repellat nobis corrupti exercitationem eaque ex inventore enim
              voluptate doloremque, accusantium aut maxime odit temporibus
              eligendi saepe in atque explicabo eius porro suscipit modi.
              Quibusdam hic, laboriosam vero veniam, iure, ut explicabo fugiat
              quam voluptates pariatur modi ex aspernatur! Magni pariatur
              exercitationem laborum? Beatae porro iste voluptates molestias!
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- action button  -->
    <div class="top-act">
      <div class="top-act__group">
        <button class="top-act__btn top-act__btn--single">
          <img
            src="./assets/icons/search.svg"
            alt=""
            class="icon top-act__icon"
          />
        </button>
      </div>

      <div class="top-act__group">
        <button class="top-act__btn">
          <img
            src="./assets/icons/heart.svg"
            alt=""
            class="icon top-act__icon"
          />
          <span class="top-act__title">03</span>
        </button>

        <div class="separate"></div>

        <button class="top-act__btn">
          <img
            src="./assets/icons/shop.svg"
            alt=""
            class="icon top-act__icon"
          />
          <span class="top-act__title">$65.42</span>
        </button>
      </div>

      <div class="top-act__user">
        <img src="./assets/img/header-avt.jpg" alt="" class="top-act__img" />
      </div>
    </div>
  </div>
</div>
